:root {
    --bg-main: #0f0f0f;
    --bg-darker: #080808;
    --bg-card: #1a1a1a;
    --primary: #e10600;
    --primary-hover: #b00500;
    --text-main: #ffffff;
    --text-sec: #bdbdbd;
    --font-main: 'Outfit', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-main);
    color: var(--text-main);
    font-family: var(--font-main);
    line-height: 1.6;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
